h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    text-align: center;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    outline-style: dashed;
    outline-color: blue;
    float:left;
}

body {
    background-color: lightblue;
}

.centerText {
    text-align: center;
}

h1 {
    text-align: center;
    color: green;
    text-transform: uppercase;

}