header {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

p {
    font-family: monospace;
}

img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: floralwhite;
}


.centerText {
    text-align: center;
}

h1 {
    text-align: center;
    color: green;
    text-transform: uppercase;

}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
    padding: 16px;
}

nav > ul > li {
    display: inline;
}

nav > ul > li > a {
    padding: 90px;
    font-size : 30px;
    text-decoration: none;
}

a, a:visited {
    color: #eee;
}

a:hover {
    text-decoration: underline;
}


#Products, #Us {
    text-align: center;
}

#Slogan{
    text-align: center;
    font-family: "Rockwell Extra Bold", "Century Gothic", Arial;
    color: forestgreen;
}

.h-line {
    margin-bottom: 50px;
}

h2{
    text-align: center;
}

#fruits{
    text-indent: 370px;
    display: inline-block;
}

#fruits > h3{
    text-indent: 410px;
}

ul{
    list-style: inside;

}

#Vegetables{
    text-indent: 450px;
    display: inline-block;
}

#Vegetables > h3{
    text-indent: 488px;
}

nav{
    text-indent:55px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#info{
    color: blue;
    text-align: center;
}

footer{
    font-size: 20px;
    color: crimson;
}

