header {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

p {
    font-family: monospace;
}

img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    outline-style: dashed;
    outline-color: blue;
}

body {
    background-color: lightblue;
}

.centerText {
    text-align: center;
}

h1 {
    text-align: center;
    color: green;
    text-transform: uppercase;

}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #36424a;
    padding: 16px;
}

nav > ul > li {
    display: inline;
}

nav > ul > li > a {
    padding: 95px;
    font-size : 30px;
    text-decoration: none;
}

a, a:visited {
    color: #eee;
}

a:hover {
    text-decoration: underline;
}


#Products, #Us {
    text-align: center;
}

#Slogan{
    text-align: center;
    font-family: "Rockwell Extra Bold", "Century Gothic", Arial;
    color: forestgreen;
}

.h-line {
    margin-bottom: 50px;
}